.dialog-pane {
    -fx-border-color: -fx-main-background-color;
}

.dialog-pane .header-panel {
    -fx-background-color: -fx-primary-color;
}

.dialog-pane .header-panel .label {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.dialog-pane>.button-bar>.container {
    -fx-background-color: -fx-main-background-color;
}

.dialog-pane>.content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: -fx-main-background-color;
    -fx-text-fill: #000;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
}

.dialog-pane .graphic-container {
    -fx-background-color: transparent; 
    -fx-padding: 0;
}