.root {
    -fx-primary-color: #f15a22;
    -fx-secondary-color: #1f8e76;
    -fx-detail-color: #00a0dc;
    -fx-main-background-color: #ffe6cb;
    -fx-tipografy-color-1: #325565;
    -fx-tipografy-color-2: #414042;
}

.logo {
    -fx-image: url('https://i.imgur.com/YF4ZuHi.png');
}

.header .header-title {
    -fx-background-color: -fx-primary-color;
}

.header .header-title .header-label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.quit-button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.sidebar {
    -fx-background-color: -fx-secondary-color;
}

.sidebar-item {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 1.4em;
    -fx-background-color: -fx-secondary-color;
}

.sidebar-item > .title {
    -fx-background-color: -fx-secondary-color;
}

.sidebar-item > .title > .arrow-button {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-width: 0;
}

.title-pane>.title>.arrow {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-width: 0;
}

.main {
    -fx-background-color: -fx-main-background-color;
}

.main .main-title {
    -fx-text-fill: -fx-tipografy-color-1;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.categories .category {
    -fx-background-color: -fx-detail-color;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.category-container {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.scroll-pane .viewport {
    -fx-background-color: green;
}

.category {
    -fx-background-color: -fx-detail-color;
}

.category:hover {
    -fx-background-color: -fx-primary-color;
}